{{ partial "head.html" . }}

{{ partial "navigation.html" . }}

<main class="mdl-layour__content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">
            {{ partial "sidemenu.html" . }}
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <article>
                <h1>{{ .Title }}</h1>
                <h6>{{ .Date.Format "Mon, Jan 2, 2006" }}</h6>
                {{ .Content }}
                adadasd
            </article>
        </div>
        <div class="mdl-cell mdl-cell--2-col">TAGS</div>

        <footer>
            {{ partial "footer.html" . }}
        </footer>
    </div>
</main>