<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>Name &amp; Title</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <nav class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        {{- range first 10 .Data.Pages -}}
            {{- if eq .Type "page" }}
                <a class="mdl-layout__tab is-active" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end -}}
        {{- end -}}
    </nav>
</header>