<aside class="right-sidebar">
    <section class="sidebar">
        <ul class="mdl-list" id="all-tags">
            <h4>Tags</h4>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <li class="mdl-list__item">({{.Count}}) <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
            <h4>Category</h4>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li class="mdl-list__item">({{.Count}}) <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </section>
</aside>